.progressElement {
  width: 100%;
  height: 0.625rem;
  margin-bottom: 0.5rem;
  border: none;
  border-radius: 9999px;
  overflow: hidden;
  background-color: #e5e7eb;
}

.progressElement::-webkit-progress-bar {
  background-color: #e5e7eb;
  border-radius: 9999px;
}

.progressElement::-webkit-progress-value {
  background-color: #3b82f6;
  border-radius: 9999px;
}

.progressElement::-moz-progress-bar {
  background-color: #3b82f6;
  border-radius: 9999px;
}
